// Fonts
$font: 'Fira Sans', sans-serif;

//Colors
$orange: #f78222;
$orange-hover: #ff6e00;
$red: #ff4747;
$red-hover: #ff1616;
$green: #006a44;
$green-hover: #007842;
$light: #fdfdfd;
$dark: #222324;
$gray-hover: #8e8e8e;